# /etc/systemd/system/camserver.service
[Unit]
Description=Pi Cam Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Pi-Cam-Server
ExecStart=/usr/bin/python3 -m waitress --url-prefix=/camserver --listen=127.0.0.1:8002 app:app
Restart=always

[Install]
WantedBy=multi-user.target
