{% extends "base.html" %}

{% block body %}

    <h1>Pi Cam - {{ hostname }}</h1>
    <form method="POST">
        <button type="submit">Get picture</button>
    </form>

    {% if image_name %}
        <div>
            <img src="{{ url_for('static', filename=image_name) }}"/>
        </div>
    {% endif %}

    <pre>
        <h2>Disk Usage</h2>
        <pre>
            {{ disk_usage[0]|safe }}

            {{ disk_usage[1]|safe }}
        </pre>
    </div>


    <div>
        <h2>Images</h2>
        </ul>
        {% for image in images %}
            <li><a href="{{ url_for('static', filename=image) }}">{{ image }}</a> (<a
                    href="{{ url_for('delete_image', image_path=image) }}">Delete</a>)
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}